name: Build and Test .NET
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      zookeeper:
        image: 'confluentinc/cp-zookeeper:latest'
        ports:
          - '2181:2181'
        env:
          ZOOKEEPER_CLIENT_PORT: 2181
          ZOOKEEPER_TICK_TIME: 2000
      kafka:
        image: 'confluentinc/cp-kafka:latest'
        ports:
          - '9092:9092'
          - '9093:9093'
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
          KAFKA_LISTENERS: 'INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093'
          KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://127.0.0.1:9092,EXTERNAL://127.0.0.1:9093'
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
          KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_DEFAULT_REPLICATION_FACTOR: 1
          KAFKA_NUM_PARTITIONS: 1
          KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
        options: >-
          --health-cmd "kafka-topics --bootstrap-server localhost:9092 --list ||
          exit 1" --health-interval 10s --health-timeout 5s --health-retries 5

      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: Y
          MSSQL_SA_PASSWORD: 123Passw0rd
          MSSQL_PID: Developer
        options: >-
          --health-cmd="/opt/mssql-tools/bin/sqlcmd -S 127.0.0.1,1433 -U sa -P 123Passw0rd -Q 'SELECT 1'"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
          --health-start-period=20s      
          
      mongodb:
        image: 'mongo:latest'
        ports:
          - '27017:27017'
        env:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: admin123
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3
      - name: Instalar o .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x
      - name: Setup NuGet authentication
        run: >
          dotnet nuget remove source github

          dotnet nuget add source --username USERNAME --password ${{
          secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github
          "https://nuget.pkg.github.com/taviovieira89/index.json"
      - name: Restaurar dependências
        run: dotnet restore
      - name: Compilar o projeto
        run: dotnet build --no-restore --configuration Release
      - name: Rodar os testes
        run: dotnet test --no-build --configuration Release --verbosity normal
